.personalinfo{
width:35%; 
margin: auto; 
background-color:white; 
overflow:hidden; 
text-align:right;
border-radius:5px;
font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 400;
font-size:16px;
font-weight:bold;
padding:2%;
}

.personalinfo i{margin-left:16px;}

.personalinfo li{list-style:none; margin-top:3px;}

.info-center{ font-size:30px;
text-align:right;
margin:10px auto;
width:50%; 
background-color:white; 
overflow:hidden; 
border-radius:5px;
font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
font-weight: 400;
font-size:16px;
font-weight:bold;
padding:2%;
}
.info-center i{margin-left:16px;}
.info-center li{list-style:none; margin-top:3px;}

.meds{ 
padding:2%;
margin:2% auto;
border-radius:5px;
text-align:right;
width:50%;
background-color:white;
overflow:hidden;
}

.containerall{width:80%;
overflow:hidden;
padding:5%;
margin:20px auto;
border-radius:10px;}

.profileimg{
display: block;
margin-left:auto;
margin-right: auto;
cursor:pointer;
margin: auto;
width:10%;
border: 3px solid #d2d6de;
}


.fullname{ font-size:30px;
color:#12ac12;
text-align:center;
padding:10px 10px;
overflow:hidden;
margin:10px auto;
}

